#pane{
    -fx-background-image: url("/image/background_image.jpg");
    -fx-background-repeat:no-repeat;
    -fx-background-position: right bottom;
    -fx-background-attachment: fixed;
    background-repeat: no-repeat;
}

